.tw-follow-card {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;

    .tw-follow-card-header {
        display: flex;
        align-items: center;

        .tw-follow-card-header-avatar {
            width: 50px;
            border-radius: 50%;
        }

        .tw-follow-card-header-info {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            margin-left: 5px;
        }
    }

    aside {
        .tw-follow-card-followButton {
            background-color: white;
            border: 1px solid white;
            border-radius: 20px;
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
            transition: .3s ease background-color;
            width: 100px;

            &.is-following {
                background-color: #222;
                color: white;

                &:hover {
                    background-color: rgba(255, 0, 0, 0.274);
                    border: 1px solid red;
                    color: red;

                    .tw-follow-card-buttonText {
                        display: none;
                    }

                    .tw-follow-card-stopFollow {
                        display: block;
                    }
                }
            }

            &:hover {
                opacity: .8;
            }

            .tw-follow-card-stopFollow {
                display: none;
            }
        }
    }
}